html,body{
  margin:0;
  padding:0;
}
.background{
  background-size: cover;
  background-position: center center;
}
nav .brand-logo.center .background{height: 50px; width: 50px; border-radius: 100%;}
